h1  {
    text-align: center;
    size: 50px;
    margin: 0;

}
body    {
    color:aquamarine;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color:coral;
    color: white;
}